{% extends 'main/layout.html'%}

{% block title %}Новости{% endblock %}
{% block content %}
<div class="features">
    <h1>Новости на InView</h1>


    {% if news %}
        {% for el in news %}
            <div class="alert alert-warning">
                <a href="{% url 'news-detail' el.id %}" class="aside h3">{{ el.title }}</a>
                <p>{{ el.anons }}</p>
                <p>{{ el.date }}</p>

            </div>
        {% endfor %}
    {% else %}
        <p>Записей нет</p>
    {% endif %}

    {# Коментарий #}

</div>
{% endblock %}