{% extends 'main/layout.html'%}

{% block title %}Новости{% endblock %}
{% block content %}
    <div class="features">
        <h1>Новости на InView</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam ducimus fugit ipsam, iste iure iusto nam necessitatibus nemo nihil omnis, porro quas quidem recusandae repellat sint sunt, tempore ut.</p>
        <button class="btn btn-warning">На страницу</button>

        {% for el in values %}
            {% if el == 'Hello' %}
                <p>{{ el|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
        <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}