body {
    background: white;
}
aside {
     float: left;
     background: #181818;
     width: 10%;
     padding: 0.5%;
     height: 100vh;
     color: #85D3DF;
     border-right: 2px solid #4d4d4d;
}

aside img {
    wight: 80px;
    float: left;
}

aside .logo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 150px;
}
.custom-img {
      border-radius: 4px;
      padding: 5px;
      width: 70px;
}


.btn {
    border-radius: 0px;
    padding: 0px;
    width: 70px;
}

.custom-logo {
        border-radius: 4px;
        padding: 0px;
        width: 200px;
        margin-top: 350px;
}

aside h3 {
    margin-top: 20px;
    font-size: 28px;
}

aside ul{list-style:none}
aside ul li {
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: blue;
    text-decorator: none;
    transform: scale(1.05);
}

body {
    background: white;
    font-family: Arial, sans-serif;
}

main {
    float: left;
    width: 60%;
    background: #fff;
    padding: 10px;
    margin-left: 250px;
}

.features {
    margin-top: 50px;
    text-align: center;
}

.features h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.features p {
    font-size: 20px;
    margin-bottom: 20px;
}

.alert-warning {
    float: left;
    clear: both;
    width: 800px;
    margin: 20px 12%;
    text-align: left;
}

form {
    margin-left: 22%;
    width: 600px;
    margin-top:50px;
}